{% block head %}
    <title>Authors</title>
{% endblock %}

{% block body %}
    <h1>AUTHORS PAGE :</h1>
    {% if app.session.get('user_id') %}
        <div class="alert alert-danger">
            Hello! Your id is :{{ app.session.get('user_id') }}
        </div>

    {% endif %}

    <h1>authors page</h1>
<div>

</div>
{% endblock %}
