{% block head %}
    <title>Authors</title>
{% endblock %}

{% block body %}
    <h1>authors page</h1>
<div>
    <h3>Hello {{ controller_name }}!</h3>
{#    <ul>#}
{#        <li>{{Authors.profile_image}}</li>#}
{#        <li>{{Authors.userName}}</li>#}
{#    </ul>#}
</div>
{% endblock %}
