<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% if app.session.get('logout_message') %}
    <div class="alert alert-warning container mt-5">
        {{ app.session.get('logout_message') }}
    </div>
    {% do app.session.remove('logout_message') %}
{% endif %}
{% if app.session.get('login_error') %}
    <div class="alert alert-danger container mt-5">
        {{ app.session.get('login_error') }}
    </div>
    {% do app.session.remove('login_error') %}
{% endif %}
<div class="container mt-5">
    <nav class="border navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/authors/login">Authors Login</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
                <form class="d-flex">
                    <a class="btn btn-outline-primary" href="/posts">Continue as a guest</a>
                </form>
            </div>
        </div>
    </nav>
    <form action="{{ path('app_authors_login_validation') }}" method="POST">

        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-secondary" href="{{ path('app_authors_register') }}">Create Account</a>
    </form>
</div>
</body>
</html>
